/* 手机端样式 */
main{
	padding-top: 270px;
}
header nav{
	margin: 0.5rem 0 0.5rem;
}
.wenhua p{
	font-size: 1rem;
	padding-bottom: 1rem;
}
.wenhua img{
	border-radius: 25px;
	padding-bottom: 1rem;
}
.logo{
	display: flex;
	justify-content: center;
}
nav ul li a{
	color: #337ab7;
}
nav ul li{
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: center;
}
.search form{
	display: flex;
}
.search input{
	height: 25px;
	border-radius: 42px;
	border: 1px solid #c0c0c0;
	flex-grow: 1;
}
.search input:focus{
	outline: none;
}
.search button:before{
	content: "\f002";
	font-family: FontAwesome;
	color: #337ab7;
}
.search button{
	width: 25px;
	height: 25px;
	border: 1px solid #c0c0c0;
	outline: none;
}
.h,.z,.yu,footer,.zzz{
	display: flex;
	justify-content: center;
}
.wenhua2{
	width: 95%;
	display: flex;
	justify-content: center;
}
.wenhua2 p {
	padding-top: 2rem;
}
.wenhua{
	display: flex;
	flex-direction: column;
}
.shu,.jian {
	flex-direction: column;
	display: flex;
}
li{
	display: flex;
	justify-content: center;
	align-content: space-around;
}
.hh{
	height: 10rem;
	width: 100%;
}
tr{
	display: flex;
	justify-content: space-between;
}
tr{
	margin-top: 1rem;
}
thead{
	display: flex;
	justify-content: center;
}
footer p{
	font-size: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
/* 平板端样式 */
@media(min-width:768px){
main{
	padding-top:90px;
}
.wenhua p{
	font-size: 2rem;
	padding-bottom: 2rem;
}
.wenhua img{
	width: 50%;
	border-radius: 25px;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
nav ul li {
	margin-left: 2rem;
}
.zzz{
	display: flex;
	justify-content: center;
}
.wenhua{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}
.shu ul,.jian ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.shu ul li,.jian ul li{
  flex-basis: calc(33.33% - 10px); /* 让每个项目占据 33.33% 的宽度，并留出一些水平间隙 */
  margin-bottom: 10px; /* 添加底部间隙 */

}
.table{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding-left: 2rem;
}
/* PC端样式 */
@media(min-width:992px){
.wenhua p{
	margin-left: 3rem;
	font-size: 2rem;
}
.wenhua img{
	margin-left: 3rem;
	border-radius: 25px;
}
nav ul li {
	padding-bottom: 0rem;
	margin-left: 3rem;
}
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.shu ul ,.jian ul {
	justify-content:center;
}
.shu,.jian {
	display: flex;
	flex-direction: row;
}
.h,.z{
	width: 45%;
	margin-left: 3rem;
}
.h a, .z a{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-right: -3rem;
} 
}
